#blogNews {
    display: flex;
    justify-content: center;
}

#blogNews section {
    flex: 2;
}

#blogNews aside {
    flex: 1;
}

#blogNews .widget_title {
    margin: 32px 0 0 0;
}   
    
#blogNews .widget_TitleText {
    color: var(--black-color);
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: bold;
}

#blogNews .widget_TitleBar {
    background-color: var(--primary-color);
    width: 72px;
    height: 3px;
    margin: 16px 0;
}

#blogNews .widget_body article {
    flex: 1;
    min-width: 300px;
    margin-right: 12px;
}

article a {
    text-decoration: none;
}
#blogNews .newsPosts {
    transition:transform 0.3s;
    
}

#blogNews .newsPosts:hover {
    transform: scale(1.01);
    
}

#blogNews .newsPosts .newsData {
    display: flex;
    margin: 24px 0;
  
}

#blogNews .newsPosts .newsData .news_posted {
    background: var(--secundary-color);
}

#blogNews .newsPosts .newsData .news_coments {
    background: var(--primary-color);
}
.news_posted, .news_coments {
    color: white;
    padding: 12px 16px;
    margin-right: 4px;
    
    font-weight: 500;
}

#blogNews .newsPosts .news_thumbnails img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

#blogNews .newsPosts .newsTile {
    color: var(--black-color);
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 24px;
}

#blogNews .newsPosts .newsResume {
    font-family: var(--paragraph-font);
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-color);
}