/* === Propriedades universal === */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #39AAE1;
    --secundary-color: #0079C7;
    --other-color: #2B4C99;
    
    --font-primary: 'Fira Sans', sans-serif;
    --paragraph-font: 'Oxygen', sans-serif;
    
    font-family: var(--font-primary);
    font-size: 16px;

    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* === Cabeçalho === */

#header {
    display:flex;
	justify-content:center;
    align-items: center;
	height:120px;

}
.container {
    display: flex;
    justify-content: space-between;
    width: 988px;
    
    
}

ul.menu_list {
    display: flex;
    list-style: none;
    
}

a.menu_item {
    color: #959595;
    font-family: var(--paragraph-font);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}

a.menu_item:hover,
.active a {
    background-color: var(--primary-color);
    color: white;
}

/* === Banner === */
#banner {
    display: flex;
    justify-content: center;
    background-image: url("../assets/imagens/img1.jpg");
    background-position:center;
    background-size: cover;
    height:670px;
    
}
.column {
    flex-direction: column;
}

.banner_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    
    width: 100%;   
}
.banner_headline .title_hero,
.banner_headline .subtitle_hero{
    text-shadow: 0px 1px 0 #33333350;
    max-width: 350px;
    color: white;
}
.banner_headline .title_hero {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 2rem;   
}

.banner_headline .subtitle_hero {
    
    font-size: 24px;
    font-weight: 400;
    
}

.banner_cards_info {
    display: flex;
    min-height: 210px;
    
}

.first_card,
.second_card,
.third_card {
    padding: 24px;
    font-family: var(--paragraph-font);
    color: white;
    flex: 1;
}
.first_card { 
    background-color: var(--primary-color);
}
.second_card {
    background-color: var(--secundary-color);
}
.third_card {
    background-color: var(--other-color);
}

.cards_title {
    font-size: 24px;
    font-weight: normal;
    font-family: var(--font-primary);
    margin-bottom: 1rem;
}

.cards_descriptions {
    font-size: 14px;
    margin-bottom: 24px;
}

.card a {
    color: white;
    font-size: 14px;
    font-family: var(--font-primary);
    display: inline-block;
    border: 1px solid white;
    padding: 8px 16px;
}

.geral {
    display:flex;
	justify-content:center;
}

.news_post {
    flex: 2;
}

.other_news_aside {
    flex: 1;
}



.widget_title {
    margin: 2rem 0 1rem;
}

.widget_title_text {
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 500;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 12px;
}

.flex {
    display: flex;
    flex-wrap:wrap;
}

article {
    flex: 1;
    width: 100%;
    max-width: 276px;
    margin-right: 8px;
}

article .news_data {
    display: flex;
    margin-bottom: 2rem;
}

article .news_posted_at {
    background-color: var(--other-color);
    color: white;

    padding: 8px 16px;
}

article .news_comments {
    background-color: var(--primary-color);
    color: white;

    margin-left: 4px;
    padding: 8px 16px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title {
    color: #333;
    font-size: 24px;
    margin: 2rem 0 2rem;
}

article .news_resume {
    color: #33333390;
    font-size: 16px;
    font-family: var(--paragraph-font);

    margin-bottom: 2rem;
   
}

footer {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
}

.footer_menu, .footer_information {
    display: flex;
    margin-bottom:24px;
    
}

.footer_menu a {
    color: white;
    transition:all 0.5ms;
    
}
.footer_menu a:hover {
    opacity: 0.7;
    text-decoration: underline;
    
}

.footMenu_btn1, .footMenu_btn2, .footMenu_btn3 {
    flex: 1;
    padding: 24px;
}

.footMenu_btn1 {
    background-color: var(--primary-color);
} 
.footMenu_btn2 {
    background-color: var(--secundary-color);
} 
.footMenu_btn3 {
    background-color: var(--other-color);
}

.footInform_text1, .footInform_text2, .footInform_text3 {
    flex: 1;
}

.footer_menu .title {
    font-size: 24px;
    margin-bottom:8px;
    font-weight:normal;
}

h3.widget_title_text {
    font-size: 18px;
    font-weight:normal;
    
    
}

.footer_information .widget_title {
    margin: 0;
}
.footer_information .widget_title_bar {
    width: 72px;
    height: 2px;
}

.footer_menu p {
    font-family: var(--paragraph-font);
}

.fa-arrow-right {
    font-size:12px;
    margin-right:8px;
}


.footer_menu .fa-arrow-right {
    margin-left:1rem;
    
}

.information {
    font-size: 0.9rem;
    font-family:var(--paragraph-font);
    color:gray;
    margin-right: 1rem;
}
.white_text {
    color:white;
}

.medicenter_address {
    font-size: 1rem;
}

address {
    display: flex;
    align-items: flex-end;
    margin: 16px 0;
    
}

address .contact{
   
    text-align: right;

    margin-left: 1rem;
}

.icons {
    font-size: 32px;
}

.icons .fab {
    margin-right: 8px;
    transition: all 0.9s;
}

.icons .fab:hover {
    cursor: pointer;
    color: white;
}

.social_posts {
    display: flex;
    margin-top: 2rem;
}

.social_posts .arrow_new_post {
    margin-top: 4px;
}

.coments_post a {
    color: white;
}

.social_posts .coments_date {
    color: var(--primary-color);
    margin-top: 8px;
}

@media (max-width: 852px) {
    article {
        max-width: 95%;
    }
    .news_post {
        padding: 0 24px;
    }
}
@media (max-width: 600px) {



    .banner_headline .title_hero {
        font-size: 3rem;
    }

    .banner_headline .subtitle_hero {
        font-size: 18px;
    }

    .banner_headline {
        max-width: 280px;
        padding: 0 18px;
    }

    .banner_cards_info {
        flex-direction: column;
    }


    .first_card, .second_card, .third_card {
        padding: 18px;
    }

    .container {
        flex-direction: column;
    }

    .geral section, aside {
        padding: 18px;
    }

    .footer_menu, .footer_information {
        flex-direction: column;
    }

    .footMenu_btn1, .footMenu_btn2, .footMenu_btn3 {
        padding: 24px 18px;
    }

    .footer_information > div {
        margin-bottom: 16px;
        padding: 0 18px;
    }
}
