.departamentsIcons {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
}
.departComponent {
    /* background: #ccc; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 49%;
    height: auto;
    
    /* margin: 0 8px 8px 0; */

    cursor: pointer;
    
}

.iconImage:nth-child(1) {
    margin: 0 8px 0px 0;
}



.departComponent .iconImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    max-width: inherit;
    height: auto;
    padding: 12px;
    transition:transform 0.3s;
    
}

.departComponent .iconImage:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px #5c5c5c44;
}

.departComponent .iconImage img {
    width: 90%;
    height: auto;
    
    filter: invert(1);
    
    
}
.departComponent p {
    font-size: 14px;
    color: #5c5c5c77;
    padding: 8px;
    
}
.widget_body .iconsDepartaments .iconImage {
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    

    
}

.widget_body .iconsDepartaments .iconImage img {
    width: 80%;
    filter: invert(1);
}
.widget_body .iconsDepartaments p{
    font-family: var(--paragraph-font);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #5c5c5c55;
}



form {
    padding: 18px;
    height: auto;
    
}
form fieldset {
    border: none;
}

input, select {
    border: solid 1px #959595;

    font-family: var(--paragraph-font);
    
    width: 100%;
    height: 36px;

    margin-bottom: 16px;
    padding-left: 16px;
}

input::placeholder,
textarea::placeholder {
    color: #95959599;
}

input:focus,
textarea:focus,
select:focus {
    outline: 1px solid #39AAE155;
}

form textarea {
    border: solid 1px #959595;

    font-family: var(--paragraph-font);

    width: 100%;
    height: 80px;

    margin-bottom: 16px;
    padding-left: 16px;
    padding-top: 8px;

    resize:none;
}

.widget_title {
    margin: 2rem 0 1rem;
}

.btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    
    cursor: pointer;
    
    font-size: 16px;

    height: 44px;
    
}

.btn:hover {
    background-color: #0079c7;
}
