footer {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
}

.footer_menu, .footer_information {
    display: flex;
    margin-bottom:24px;
    
}

footer a {
    color: white;
    transition:all 0.3s;
    
}
footer a:hover {
    opacity: 0.7;
    text-decoration: underline;
    
}

.footMenu_btn1, .footMenu_btn2, .footMenu_btn3 {
    flex: 1;
    padding: 24px;
}

.footMenu_btn1 {
    background-color: var(--primary-color);
} 
.footMenu_btn2 {
    background-color: var(--secundary-color);
} 
.footMenu_btn3 {
    background-color: var(--other-color);
}

.footInform_text1, .footInform_text2, .footInform_text3 {
    flex: 1;
}

.footer_menu .title {
    font-size: 24px;
    margin-bottom:8px;
    font-weight:normal;
}

h3.widget_title_text {
    font-size: 18px;
    font-weight:normal;
    
    
}

.footer_information .widget_title {
    margin: 0;
}
.footer_information .widget_title_bar {
    width: 72px;
    height: 2px;
}

.footer_menu p {
    font-family: var(--paragraph-font);
}

.fa-arrow-right {
    font-size:12px;
    margin-right:8px;
}


.footer_menu .fa-arrow-right {
    margin-left:1rem;
    
}

.information {
    font-size: 0.9rem;
    font-family:var(--paragraph-font);
    color:gray;
    margin-right: 1rem;
}
.white_text {
    color:white;
}

.medicenter_address {
    font-size: 1rem;
}

address {
    display: flex;
    align-items: flex-end;
    margin: 16px 0;
    
}

address .contact{
   
    text-align: right;

    margin-left: 1rem;
}

.icons {
    font-size: 32px;
}

.icons .fab {
    margin-right: 8px;
    transition: all 0.9s;
}

.icons .fab:hover {
    cursor: pointer;
    color: white;
}

.social_posts {
    display: flex;
    margin-top: 2rem;
}

.social_posts .arrow_new_post {
    margin-top: 4px;
}

.coments_post a {
    color: white;
}

.social_posts .coments_date {
    color: var(--primary-color);
    margin-top: 8px;
}

footer .copy {
    border-top: solid 1px #5c5c5c;
    color: rgb(202, 202, 202);
    font-family: var(--paragraph-font);
    font-weight: 200;
    font-style: italic;

    margin-bottom: 2rem;
    padding-top: 16px;
}